In [1]:
import pandas as pd

In [5]:
import pulp as plp
plp.listSolvers()

['GLPK_CMD',
 'PYGLPK',
 'CPLEX_CMD',
 'CPLEX_PY',
 'GUROBI',
 'GUROBI_CMD',
 'MOSEK',
 'XPRESS',
 'XPRESS',
 'XPRESS_PY',
 'PULP_CBC_CMD',
 'COIN_CMD',
 'COINMP_DLL',
 'CHOCO_CMD',
 'MIPCL_CMD',
 'SCIP_CMD',
 'HiGHS_CMD']

In [225]:
emp = pd.read_csv("employee.csv")
task = pd.read_csv("task_demand.csv")

In [226]:
from pulp import *

In [227]:
emp

   employee employee_type task_type
0        r1        normal     task1
1        r2        normal     task2
2        r3        senior     task3
3        r4        senior     task4
4        r5        senior     task5
5        r6        senior     task1
6        r7        normal     task2
7        r8        normal     task3
8        r9        normal     task4
9       r10        normal     task5
10      r11        normal     task3
11      r12        normal     task4

In [228]:
task

  task_type  task_demand
0     task1          100
1     task2           40
2     task3           25
3     task4           30
4     task5           20

In [229]:
task_type_list = []
task_type_dict = {}
for i, row in task.iterrows():
    #print(row['task_type'] * int(row['task_demand']))
    task_type_list = task_type_list + [row['task_type']] * int(row['task_demand'])
task_type_dict.update({'task_type':task_type_list})
all_task_df = pd.DataFrame(task_type_dict)
all_task_df['task_id'] = all_task_df.index + 1
all_task_df

    task_type  task_id
0       task1        1
1       task1        2
2       task1        3
3       task1        4
4       task1        5
..        ...      ...
210     task5      211
211     task5      212
212     task5      213
213     task5      214
214     task5      215

[215 rows x 2 columns]

In [230]:
all_df = pd.merge(emp,all_task_df,on='task_type')
all_df

    employee employee_type task_type  task_id
0         r1        normal     task1        1
1         r1        normal     task1        2
2         r1        normal     task1        3
3         r1        normal     task1        4
4         r1        normal     task1        5
..       ...           ...       ...      ...
480      r10        normal     task5      211
481      r10        normal     task5      212
482      r10        normal     task5      213
483      r10        normal     task5      214
484      r10        normal     task5      215

[485 rows x 4 columns]

In [231]:
all_df.dtypes

employee         object
employee_type    object
task_type        object
task_id           int64
dtype: object

In [232]:
all_df

    employee employee_type task_type  task_id
0         r1        normal     task1        1
1         r1        normal     task1        2
2         r1        normal     task1        3
3         r1        normal     task1        4
4         r1        normal     task1        5
..       ...           ...       ...      ...
480      r10        normal     task5      211
481      r10        normal     task5      212
482      r10        normal     task5      213
483      r10        normal     task5      214
484      r10        normal     task5      215

[485 rows x 4 columns]

In [233]:
task

  task_type  task_demand
0     task1          100
1     task2           40
2     task3           25
3     task4           30
4     task5           20

In [234]:
all_df['decision_var'] = [LpVariable("x_"+str(j),cat = "Binary", lowBound = 0) for j in range(all_df.shape[0])]
all_df['deci_str']  = all_df['decision_var'].astype(str)

In [235]:
all_df[(all_df['task_type']=='task1') & (all_df['employee']=='r1')]

   employee employee_type task_type  task_id decision_var deci_str
0        r1        normal     task1        1          x_0      x_0
1        r1        normal     task1        2          x_1      x_1
2        r1        normal     task1        3          x_2      x_2
3        r1        normal     task1        4          x_3      x_3
4        r1        normal     task1        5          x_4      x_4
..      ...           ...       ...      ...          ...      ...
95       r1        normal     task1       96         x_95     x_95
96       r1        normal     task1       97         x_96     x_96
97       r1        normal     task1       98         x_97     x_97
98       r1        normal     task1       99         x_98     x_98
99       r1        normal     task1      100         x_99     x_99

[100 rows x 6 columns]

In [236]:
all_df[(all_df['employee']=='r1')]

   employee employee_type task_type  task_id decision_var deci_str
0        r1        normal     task1        1          x_0      x_0
1        r1        normal     task1        2          x_1      x_1
2        r1        normal     task1        3          x_2      x_2
3        r1        normal     task1        4          x_3      x_3
4        r1        normal     task1        5          x_4      x_4
..      ...           ...       ...      ...          ...      ...
95       r1        normal     task1       96         x_95     x_95
96       r1        normal     task1       97         x_96     x_96
97       r1        normal     task1       98         x_97     x_97
98       r1        normal     task1       99         x_98     x_98
99       r1        normal     task1      100         x_99     x_99

[100 rows x 6 columns]

In [237]:
all_task = task['task_type'].to_list()
all_resource = emp['employee'].to_list()
all_task_id = all_task_df['task_id']

In [238]:
problem = LpProblem('Resource_Allocation', LpMaximize)
problem += lpSum(all_df['decision_var'])
for t in all_task:
    problem += lpSum(all_df[all_df['task_type']==t]['decision_var']) <= int(task[task['task_type']==t]['task_demand'])

#for r in all_resource:
#    for t in all_task_id:
#        problem +=lpSum(all_df[(all_df['task_id']==t) & (all_df['employee']==r)]['decision_var']) == 1

In [239]:
for t in all_task_id:
    problem +=lpSum(all_df[all_df['task_id']==t]['decision_var']) == 1

In [240]:
problem.constraints

OrderedDict([('_C1',
              1*x_0 + 1*x_1 + 1*x_10 + 1*x_100 + 1*x_101 + 1*x_102 + 1*x_103 + 1*x_104 + 1*x_105 + 1*x_106 + 1*x_107 + 1*x_108 + 1*x_109 + 1*x_11 + 1*x_110 + 1*x_111 + 1*x_112 + 1*x_113 + 1*x_114 + 1*x_115 + 1*x_116 + 1*x_117 + 1*x_118 + 1*x_119 + 1*x_12 + 1*x_120 + 1*x_121 + 1*x_122 + 1*x_123 + 1*x_124 + 1*x_125 + 1*x_126 + 1*x_127 + 1*x_128 + 1*x_129 + 1*x_13 + 1*x_130 + 1*x_131 + 1*x_132 + 1*x_133 + 1*x_134 + 1*x_135 + 1*x_136 + 1*x_137 + 1*x_138 + 1*x_139 + 1*x_14 + 1*x_140 + 1*x_141 + 1*x_142 + 1*x_143 + 1*x_144 + 1*x_145 + 1*x_146 + 1*x_147 + 1*x_148 + 1*x_149 + 1*x_15 + 1*x_150 + 1*x_151 + 1*x_152 + 1*x_153 + 1*x_154 + 1*x_155 + 1*x_156 + 1*x_157 + 1*x_158 + 1*x_159 + 1*x_16 + 1*x_160 + 1*x_161 + 1*x_162 + 1*x_163 + 1*x_164 + 1*x_165 + 1*x_166 + 1*x_167 + 1*x_168 + 1*x_169 + 1*x_17 + 1*x_170 + 1*x_171 + 1*x_172 + 1*x_173 + 1*x_174 + 1*x_175 + 1*x_176 + 1*x_177 + 1*x_178 + 1*x_179 + 1*x_18 + 1*x_180 + 1*x_181 + 1*x_182 + 1*x_183 + 1*x_184 + 1*x_185 + 1*x_186 + 1*x_187 + 1*x_188 + 1*x_189 + 1*x_19 + 1*x_190 + 1*x_191 + 1*x_192 + 1*x_193 + 1*x_194 + 1*x_195 + 1*x_196 + 1*x_197 + 1*x_198 + 1*x_199 + 1*x_2 + 1*x_20 + 1*x_21 + 1*x_22 + 1*x_23 + 1*x_24 + 1*x_25 + 1*x_26 + 1*x_27 + 1*x_28 + 1*x_29 + 1*x_3 + 1*x_30 + 1*x_31 + 1*x_32 + 1*x_33 + 1*x_34 + 1*x_35 + 1*x_36 + 1*x_37 + 1*x_38 + 1*x_39 + 1*x_4 + 1*x_40 + 1*x_41 + 1*x_42 + 1*x_43 + 1*x_44 + 1*x_45 + 1*x_46 + 1*x_47 + 1*x_48 + 1*x_49 + 1*x_5 + 1*x_50 + 1*x_51 + 1*x_52 + 1*x_53 + 1*x_54 + 1*x_55 + 1*x_56 + 1*x_57 + 1*x_58 + 1*x_59 + 1*x_6 + 1*x_60 + 1*x_61 + 1*x_62 + 1*x_63 + 1*x_64 + 1*x_65 + 1*x_66 + 1*x_67 + 1*x_68 + 1*x_69 + 1*x_7 + 1*x_70 + 1*x_71 + 1*x_72 + 1*x_73 + 1*x_74 + 1*x_75 + 1*x_76 + 1*x_77 + 1*x_78 + 1*x_79 + 1*x_8 + 1*x_80 + 1*x_81 + 1*x_82 + 1*x_83 + 1*x_84 + 1*x_85 + 1*x_86 + 1*x_87 + 1*x_88 + 1*x_89 + 1*x_9 + 1*x_90 + 1*x_91 + 1*x_92 + 1*x_93 + 1*x_94 + 1*x_95 + 1*x_96 + 1*x_97 + 1*x_98 + 1*x_99 + -100 <= 0),
             ('_C2',
              1*x_200 + 1*x_201 + 1*x_202 + 1*x_203 + 1*x_204 + 1*x_205 + 1*x_206 + 1*x_207 + 1*x_208 + 1*x_209 + 1*x_210 + 1*x_211 + 1*x_212 + 1*x_213 + 1*x_214 + 1*x_215 + 1*x_216 + 1*x_217 + 1*x_218 + 1*x_219 + 1*x_220 + 1*x_221 + 1*x_222 + 1*x_223 + 1*x_224 + 1*x_225 + 1*x_226 + 1*x_227 + 1*x_228 + 1*x_229 + 1*x_230 + 1*x_231 + 1*x_232 + 1*x_233 + 1*x_234 + 1*x_235 + 1*x_236 + 1*x_237 + 1*x_238 + 1*x_239 + 1*x_240 + 1*x_241 + 1*x_242 + 1*x_243 + 1*x_244 + 1*x_245 + 1*x_246 + 1*x_247 + 1*x_248 + 1*x_249 + 1*x_250 + 1*x_251 + 1*x_252 + 1*x_253 + 1*x_254 + 1*x_255 + 1*x_256 + 1*x_257 + 1*x_258 + 1*x_259 + 1*x_260 + 1*x_261 + 1*x_262 + 1*x_263 + 1*x_264 + 1*x_265 + 1*x_266 + 1*x_267 + 1*x_268 + 1*x_269 + 1*x_270 + 1*x_271 + 1*x_272 + 1*x_273 + 1*x_274 + 1*x_275 + 1*x_276 + 1*x_277 + 1*x_278 + 1*x_279 + -40 <= 0),
             ('_C3',
              1*x_280 + 1*x_281 + 1*x_282 + 1*x_283 + 1*x_284 + 1*x_285 + 1*x_286 + 1*x_287 + 1*x_288 + 1*x_289 + 1*x_290 + 1*x_291 + 1*x_292 + 1*x_293 + 1*x_294 + 1*x_295 + 1*x_296 + 1*x_297 + 1*x_298 + 1*x_299 + 1*x_300 + 1*x_301 + 1*x_302 + 1*x_303 + 1*x_304 + 1*x_305 + 1*x_306 + 1*x_307 + 1*x_308 + 1*x_309 + 1*x_310 + 1*x_311 + 1*x_312 + 1*x_313 + 1*x_314 + 1*x_315 + 1*x_316 + 1*x_317 + 1*x_318 + 1*x_319 + 1*x_320 + 1*x_321 + 1*x_322 + 1*x_323 + 1*x_324 + 1*x_325 + 1*x_326 + 1*x_327 + 1*x_328 + 1*x_329 + 1*x_330 + 1*x_331 + 1*x_332 + 1*x_333 + 1*x_334 + 1*x_335 + 1*x_336 + 1*x_337 + 1*x_338 + 1*x_339 + 1*x_340 + 1*x_341 + 1*x_342 + 1*x_343 + 1*x_344 + 1*x_345 + 1*x_346 + 1*x_347 + 1*x_348 + 1*x_349 + 1*x_350 + 1*x_351 + 1*x_352 + 1*x_353 + 1*x_354 + -25 <= 0),
             ('_C4',
              1*x_355 + 1*x_356 + 1*x_357 + 1*x_358 + 1*x_359 + 1*x_360 + 1*x_361 + 1*x_362 + 1*x_363 + 1*x_364 + 1*x_365 + 1*x_366 + 1*x_367 + 1*x_368 + 1*x_369 + 1*x_370 + 1*x_371 + 1*x_372 + 1*x_373 + 1*x_374 + 1*x_375 + 1*x_376 + 1*x_377 + 1*x_378 + 1*x_379 + 1*x_380 + 1*x_381 + 1*x_382 + 1*x_383 + 1*x_384 + 1*x_385 + 1*x_386 + 1*x_387 + 1*x_388 + 1*x_389 + 1*x_390 + 1*x_391 + 1*x_392 + 1*x_393 + 1*x_394 + 1*x_395 + 1*x_396 + 1*x_397 + 1*x_398 + 1*x_399 + 1*x_400 + 1*x_401 + 1*x_402 + 1*x_403 + 1*x_404 + 1*x_405 + 1*x_406 + 1*x_407 + 1*x_408 + 1*x_409 + 1*x_410 + 1*x_411 + 1*x_412 + 1*x_413 + 1*x_414 + 1*x_415 + 1*x_416 + 1*x_417 + 1*x_418 + 1*x_419 + 1*x_420 + 1*x_421 + 1*x_422 + 1*x_423 + 1*x_424 + 1*x_425 + 1*x_426 + 1*x_427 + 1*x_428 + 1*x_429 + 1*x_430 + 1*x_431 + 1*x_432 + 1*x_433 + 1*x_434 + 1*x_435 + 1*x_436 + 1*x_437 + 1*x_438 + 1*x_439 + 1*x_440 + 1*x_441 + 1*x_442 + 1*x_443 + 1*x_444 + -30 <= 0),
             ('_C5',
              1*x_445 + 1*x_446 + 1*x_447 + 1*x_448 + 1*x_449 + 1*x_450 + 1*x_451 + 1*x_452 + 1*x_453 + 1*x_454 + 1*x_455 + 1*x_456 + 1*x_457 + 1*x_458 + 1*x_459 + 1*x_460 + 1*x_461 + 1*x_462 + 1*x_463 + 1*x_464 + 1*x_465 + 1*x_466 + 1*x_467 + 1*x_468 + 1*x_469 + 1*x_470 + 1*x_471 + 1*x_472 + 1*x_473 + 1*x_474 + 1*x_475 + 1*x_476 + 1*x_477 + 1*x_478 + 1*x_479 + 1*x_480 + 1*x_481 + 1*x_482 + 1*x_483 + 1*x_484 + -20 <= 0),
             ('_C6', 1*x_0 + 1*x_100 + -1 = 0),
             ('_C7', 1*x_1 + 1*x_101 + -1 = 0),
             ('_C8', 1*x_102 + 1*x_2 + -1 = 0),
             ('_C9', 1*x_103 + 1*x_3 + -1 = 0),
             ('_C10', 1*x_104 + 1*x_4 + -1 = 0),
             ('_C11', 1*x_105 + 1*x_5 + -1 = 0),
             ('_C12', 1*x_106 + 1*x_6 + -1 = 0),
             ('_C13', 1*x_107 + 1*x_7 + -1 = 0),
             ('_C14', 1*x_108 + 1*x_8 + -1 = 0),
             ('_C15', 1*x_109 + 1*x_9 + -1 = 0),
             ('_C16', 1*x_10 + 1*x_110 + -1 = 0),
             ('_C17', 1*x_11 + 1*x_111 + -1 = 0),
             ('_C18', 1*x_112 + 1*x_12 + -1 = 0),
             ('_C19', 1*x_113 + 1*x_13 + -1 = 0),
             ('_C20', 1*x_114 + 1*x_14 + -1 = 0),
             ('_C21', 1*x_115 + 1*x_15 + -1 = 0),
             ('_C22', 1*x_116 + 1*x_16 + -1 = 0),
             ('_C23', 1*x_117 + 1*x_17 + -1 = 0),
             ('_C24', 1*x_118 + 1*x_18 + -1 = 0),
             ('_C25', 1*x_119 + 1*x_19 + -1 = 0),
             ('_C26', 1*x_120 + 1*x_20 + -1 = 0),
             ('_C27', 1*x_121 + 1*x_21 + -1 = 0),
             ('_C28', 1*x_122 + 1*x_22 + -1 = 0),
             ('_C29', 1*x_123 + 1*x_23 + -1 = 0),
             ('_C30', 1*x_124 + 1*x_24 + -1 = 0),
             ('_C31', 1*x_125 + 1*x_25 + -1 = 0),
             ('_C32', 1*x_126 + 1*x_26 + -1 = 0),
             ('_C33', 1*x_127 + 1*x_27 + -1 = 0),
             ('_C34', 1*x_128 + 1*x_28 + -1 = 0),
             ('_C35', 1*x_129 + 1*x_29 + -1 = 0),
             ('_C36', 1*x_130 + 1*x_30 + -1 = 0),
             ('_C37', 1*x_131 + 1*x_31 + -1 = 0),
             ('_C38', 1*x_132 + 1*x_32 + -1 = 0),
             ('_C39', 1*x_133 + 1*x_33 + -1 = 0),
             ('_C40', 1*x_134 + 1*x_34 + -1 = 0),
             ('_C41', 1*x_135 + 1*x_35 + -1 = 0),
             ('_C42', 1*x_136 + 1*x_36 + -1 = 0),
             ('_C43', 1*x_137 + 1*x_37 + -1 = 0),
             ('_C44', 1*x_138 + 1*x_38 + -1 = 0),
             ('_C45', 1*x_139 + 1*x_39 + -1 = 0),
             ('_C46', 1*x_140 + 1*x_40 + -1 = 0),
             ('_C47', 1*x_141 + 1*x_41 + -1 = 0),
             ('_C48', 1*x_142 + 1*x_42 + -1 = 0),
             ('_C49', 1*x_143 + 1*x_43 + -1 = 0),
             ('_C50', 1*x_144 + 1*x_44 + -1 = 0),
             ('_C51', 1*x_145 + 1*x_45 + -1 = 0),
             ('_C52', 1*x_146 + 1*x_46 + -1 = 0),
             ('_C53', 1*x_147 + 1*x_47 + -1 = 0),
             ('_C54', 1*x_148 + 1*x_48 + -1 = 0),
             ('_C55', 1*x_149 + 1*x_49 + -1 = 0),
             ('_C56', 1*x_150 + 1*x_50 + -1 = 0),
             ('_C57', 1*x_151 + 1*x_51 + -1 = 0),
             ('_C58', 1*x_152 + 1*x_52 + -1 = 0),
             ('_C59', 1*x_153 + 1*x_53 + -1 = 0),
             ('_C60', 1*x_154 + 1*x_54 + -1 = 0),
             ('_C61', 1*x_155 + 1*x_55 + -1 = 0),
             ('_C62', 1*x_156 + 1*x_56 + -1 = 0),
             ('_C63', 1*x_157 + 1*x_57 + -1 = 0),
             ('_C64', 1*x_158 + 1*x_58 + -1 = 0),
             ('_C65', 1*x_159 + 1*x_59 + -1 = 0),
             ('_C66', 1*x_160 + 1*x_60 + -1 = 0),
             ('_C67', 1*x_161 + 1*x_61 + -1 = 0),
             ('_C68', 1*x_162 + 1*x_62 + -1 = 0),
             ('_C69', 1*x_163 + 1*x_63 + -1 = 0),
             ('_C70', 1*x_164 + 1*x_64 + -1 = 0),
             ('_C71', 1*x_165 + 1*x_65 + -1 = 0),
             ('_C72', 1*x_166 + 1*x_66 + -1 = 0),
             ('_C73', 1*x_167 + 1*x_67 + -1 = 0),
             ('_C74', 1*x_168 + 1*x_68 + -1 = 0),
             ('_C75', 1*x_169 + 1*x_69 + -1 = 0),
             ('_C76', 1*x_170 + 1*x_70 + -1 = 0),
             ('_C77', 1*x_171 + 1*x_71 + -1 = 0),
             ('_C78', 1*x_172 + 1*x_72 + -1 = 0),
             ('_C79', 1*x_173 + 1*x_73 + -1 = 0),
             ('_C80', 1*x_174 + 1*x_74 + -1 = 0),
             ('_C81', 1*x_175 + 1*x_75 + -1 = 0),
             ('_C82', 1*x_176 + 1*x_76 + -1 = 0),
             ('_C83', 1*x_177 + 1*x_77 + -1 = 0),
             ('_C84', 1*x_178 + 1*x_78 + -1 = 0),
             ('_C85', 1*x_179 + 1*x_79 + -1 = 0),
             ('_C86', 1*x_180 + 1*x_80 + -1 = 0),
             ('_C87', 1*x_181 + 1*x_81 + -1 = 0),
             ('_C88', 1*x_182 + 1*x_82 + -1 = 0),
             ('_C89', 1*x_183 + 1*x_83 + -1 = 0),
             ('_C90', 1*x_184 + 1*x_84 + -1 = 0),
             ('_C91', 1*x_185 + 1*x_85 + -1 = 0),
             ('_C92', 1*x_186 + 1*x_86 + -1 = 0),
             ('_C93', 1*x_187 + 1*x_87 + -1 = 0),
             ('_C94', 1*x_188 + 1*x_88 + -1 = 0),
             ('_C95', 1*x_189 + 1*x_89 + -1 = 0),
             ('_C96', 1*x_190 + 1*x_90 + -1 = 0),
             ('_C97', 1*x_191 + 1*x_91 + -1 = 0),
             ('_C98', 1*x_192 + 1*x_92 + -1 = 0),
             ('_C99', 1*x_193 + 1*x_93 + -1 = 0),
             ('_C100', 1*x_194 + 1*x_94 + -1 = 0),
             ('_C101', 1*x_195 + 1*x_95 + -1 = 0),
             ('_C102', 1*x_196 + 1*x_96 + -1 = 0),
             ('_C103', 1*x_197 + 1*x_97 + -1 = 0),
             ('_C104', 1*x_198 + 1*x_98 + -1 = 0),
             ('_C105', 1*x_199 + 1*x_99 + -1 = 0),
             ('_C106', 1*x_200 + 1*x_240 + -1 = 0),
             ('_C107', 1*x_201 + 1*x_241 + -1 = 0),
             ('_C108', 1*x_202 + 1*x_242 + -1 = 0),
             ('_C109', 1*x_203 + 1*x_243 + -1 = 0),
             ('_C110', 1*x_204 + 1*x_244 + -1 = 0),
             ('_C111', 1*x_205 + 1*x_245 + -1 = 0),
             ('_C112', 1*x_206 + 1*x_246 + -1 = 0),
             ('_C113', 1*x_207 + 1*x_247 + -1 = 0),
             ('_C114', 1*x_208 + 1*x_248 + -1 = 0),
             ('_C115', 1*x_209 + 1*x_249 + -1 = 0),
             ('_C116', 1*x_210 + 1*x_250 + -1 = 0),
             ('_C117', 1*x_211 + 1*x_251 + -1 = 0),
             ('_C118', 1*x_212 + 1*x_252 + -1 = 0),
             ('_C119', 1*x_213 + 1*x_253 + -1 = 0),
             ('_C120', 1*x_214 + 1*x_254 + -1 = 0),
             ('_C121', 1*x_215 + 1*x_255 + -1 = 0),
             ('_C122', 1*x_216 + 1*x_256 + -1 = 0),
             ('_C123', 1*x_217 + 1*x_257 + -1 = 0),
             ('_C124', 1*x_218 + 1*x_258 + -1 = 0),
             ('_C125', 1*x_219 + 1*x_259 + -1 = 0),
             ('_C126', 1*x_220 + 1*x_260 + -1 = 0),
             ('_C127', 1*x_221 + 1*x_261 + -1 = 0),
             ('_C128', 1*x_222 + 1*x_262 + -1 = 0),
             ('_C129', 1*x_223 + 1*x_263 + -1 = 0),
             ('_C130', 1*x_224 + 1*x_264 + -1 = 0),
             ('_C131', 1*x_225 + 1*x_265 + -1 = 0),
             ('_C132', 1*x_226 + 1*x_266 + -1 = 0),
             ('_C133', 1*x_227 + 1*x_267 + -1 = 0),
             ('_C134', 1*x_228 + 1*x_268 + -1 = 0),
             ('_C135', 1*x_229 + 1*x_269 + -1 = 0),
             ('_C136', 1*x_230 + 1*x_270 + -1 = 0),
             ('_C137', 1*x_231 + 1*x_271 + -1 = 0),
             ('_C138', 1*x_232 + 1*x_272 + -1 = 0),
             ('_C139', 1*x_233 + 1*x_273 + -1 = 0),
             ('_C140', 1*x_234 + 1*x_274 + -1 = 0),
             ('_C141', 1*x_235 + 1*x_275 + -1 = 0),
             ('_C142', 1*x_236 + 1*x_276 + -1 = 0),
             ('_C143', 1*x_237 + 1*x_277 + -1 = 0),
             ('_C144', 1*x_238 + 1*x_278 + -1 = 0),
             ('_C145', 1*x_239 + 1*x_279 + -1 = 0),
             ('_C146', 1*x_280 + 1*x_305 + 1*x_330 + -1 = 0),
             ('_C147', 1*x_281 + 1*x_306 + 1*x_331 + -1 = 0),
             ('_C148', 1*x_282 + 1*x_307 + 1*x_332 + -1 = 0),
             ('_C149', 1*x_283 + 1*x_308 + 1*x_333 + -1 = 0),
             ('_C150', 1*x_284 + 1*x_309 + 1*x_334 + -1 = 0),
             ('_C151', 1*x_285 + 1*x_310 + 1*x_335 + -1 = 0),
             ('_C152', 1*x_286 + 1*x_311 + 1*x_336 + -1 = 0),
             ('_C153', 1*x_287 + 1*x_312 + 1*x_337 + -1 = 0),
             ('_C154', 1*x_288 + 1*x_313 + 1*x_338 + -1 = 0),
             ('_C155', 1*x_289 + 1*x_314 + 1*x_339 + -1 = 0),
             ('_C156', 1*x_290 + 1*x_315 + 1*x_340 + -1 = 0),
             ('_C157', 1*x_291 + 1*x_316 + 1*x_341 + -1 = 0),
             ('_C158', 1*x_292 + 1*x_317 + 1*x_342 + -1 = 0),
             ('_C159', 1*x_293 + 1*x_318 + 1*x_343 + -1 = 0),
             ('_C160', 1*x_294 + 1*x_319 + 1*x_344 + -1 = 0),
             ('_C161', 1*x_295 + 1*x_320 + 1*x_345 + -1 = 0),
             ('_C162', 1*x_296 + 1*x_321 + 1*x_346 + -1 = 0),
             ('_C163', 1*x_297 + 1*x_322 + 1*x_347 + -1 = 0),
             ('_C164', 1*x_298 + 1*x_323 + 1*x_348 + -1 = 0),
             ('_C165', 1*x_299 + 1*x_324 + 1*x_349 + -1 = 0),
             ('_C166', 1*x_300 + 1*x_325 + 1*x_350 + -1 = 0),
             ('_C167', 1*x_301 + 1*x_326 + 1*x_351 + -1 = 0),
             ('_C168', 1*x_302 + 1*x_327 + 1*x_352 + -1 = 0),
             ('_C169', 1*x_303 + 1*x_328 + 1*x_353 + -1 = 0),
             ('_C170', 1*x_304 + 1*x_329 + 1*x_354 + -1 = 0),
             ('_C171', 1*x_355 + 1*x_385 + 1*x_415 + -1 = 0),
             ('_C172', 1*x_356 + 1*x_386 + 1*x_416 + -1 = 0),
             ('_C173', 1*x_357 + 1*x_387 + 1*x_417 + -1 = 0),
             ('_C174', 1*x_358 + 1*x_388 + 1*x_418 + -1 = 0),
             ('_C175', 1*x_359 + 1*x_389 + 1*x_419 + -1 = 0),
             ('_C176', 1*x_360 + 1*x_390 + 1*x_420 + -1 = 0),
             ('_C177', 1*x_361 + 1*x_391 + 1*x_421 + -1 = 0),
             ('_C178', 1*x_362 + 1*x_392 + 1*x_422 + -1 = 0),
             ('_C179', 1*x_363 + 1*x_393 + 1*x_423 + -1 = 0),
             ('_C180', 1*x_364 + 1*x_394 + 1*x_424 + -1 = 0),
             ('_C181', 1*x_365 + 1*x_395 + 1*x_425 + -1 = 0),
             ('_C182', 1*x_366 + 1*x_396 + 1*x_426 + -1 = 0),
             ('_C183', 1*x_367 + 1*x_397 + 1*x_427 + -1 = 0),
             ('_C184', 1*x_368 + 1*x_398 + 1*x_428 + -1 = 0),
             ('_C185', 1*x_369 + 1*x_399 + 1*x_429 + -1 = 0),
             ('_C186', 1*x_370 + 1*x_400 + 1*x_430 + -1 = 0),
             ('_C187', 1*x_371 + 1*x_401 + 1*x_431 + -1 = 0),
             ('_C188', 1*x_372 + 1*x_402 + 1*x_432 + -1 = 0),
             ('_C189', 1*x_373 + 1*x_403 + 1*x_433 + -1 = 0),
             ('_C190', 1*x_374 + 1*x_404 + 1*x_434 + -1 = 0),
             ('_C191', 1*x_375 + 1*x_405 + 1*x_435 + -1 = 0),
             ('_C192', 1*x_376 + 1*x_406 + 1*x_436 + -1 = 0),
             ('_C193', 1*x_377 + 1*x_407 + 1*x_437 + -1 = 0),
             ('_C194', 1*x_378 + 1*x_408 + 1*x_438 + -1 = 0),
             ('_C195', 1*x_379 + 1*x_409 + 1*x_439 + -1 = 0),
             ('_C196', 1*x_380 + 1*x_410 + 1*x_440 + -1 = 0),
             ('_C197', 1*x_381 + 1*x_411 + 1*x_441 + -1 = 0),
             ('_C198', 1*x_382 + 1*x_412 + 1*x_442 + -1 = 0),
             ('_C199', 1*x_383 + 1*x_413 + 1*x_443 + -1 = 0),
             ('_C200', 1*x_384 + 1*x_414 + 1*x_444 + -1 = 0),
             ('_C201', 1*x_445 + 1*x_465 + -1 = 0),
             ('_C202', 1*x_446 + 1*x_466 + -1 = 0),
             ('_C203', 1*x_447 + 1*x_467 + -1 = 0),
             ('_C204', 1*x_448 + 1*x_468 + -1 = 0),
             ('_C205', 1*x_449 + 1*x_469 + -1 = 0),
             ('_C206', 1*x_450 + 1*x_470 + -1 = 0),
             ('_C207', 1*x_451 + 1*x_471 + -1 = 0),
             ('_C208', 1*x_452 + 1*x_472 + -1 = 0),
             ('_C209', 1*x_453 + 1*x_473 + -1 = 0),
             ('_C210', 1*x_454 + 1*x_474 + -1 = 0),
             ('_C211', 1*x_455 + 1*x_475 + -1 = 0),
             ('_C212', 1*x_456 + 1*x_476 + -1 = 0),
             ('_C213', 1*x_457 + 1*x_477 + -1 = 0),
             ('_C214', 1*x_458 + 1*x_478 + -1 = 0),
             ('_C215', 1*x_459 + 1*x_479 + -1 = 0),
             ('_C216', 1*x_460 + 1*x_480 + -1 = 0),
             ('_C217', 1*x_461 + 1*x_481 + -1 = 0),
             ('_C218', 1*x_462 + 1*x_482 + -1 = 0),
             ('_C219', 1*x_463 + 1*x_483 + -1 = 0),
             ('_C220', 1*x_464 + 1*x_484 + -1 = 0)])

In [241]:
all_df

    employee employee_type task_type  task_id decision_var deci_str
0         r1        normal     task1        1          x_0      x_0
1         r1        normal     task1        2          x_1      x_1
2         r1        normal     task1        3          x_2      x_2
3         r1        normal     task1        4          x_3      x_3
4         r1        normal     task1        5          x_4      x_4
..       ...           ...       ...      ...          ...      ...
480      r10        normal     task5      211        x_480    x_480
481      r10        normal     task5      212        x_481    x_481
482      r10        normal     task5      213        x_482    x_482
483      r10        normal     task5      214        x_483    x_483
484      r10        normal     task5      215        x_484    x_484

[485 rows x 6 columns]

In [242]:
all_df.sort_values(by='task_id')

    employee employee_type task_type  task_id decision_var deci_str
0         r1        normal     task1        1          x_0      x_0
100       r6        senior     task1        1        x_100    x_100
101       r6        senior     task1        2        x_101    x_101
1         r1        normal     task1        2          x_1      x_1
2         r1        normal     task1        3          x_2      x_2
..       ...           ...       ...      ...          ...      ...
462       r5        senior     task5      213        x_462    x_462
483      r10        normal     task5      214        x_483    x_483
463       r5        senior     task5      214        x_463    x_463
464       r5        senior     task5      215        x_464    x_464
484      r10        normal     task5      215        x_484    x_484

[485 rows x 6 columns]

In [243]:
problem.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /opt/anaconda3/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/tm/0f_tx6g13kl1s2jzyqttkdm40000gn/T/4c2303174f4c417a87e26c76dbb2ca1b-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/tm/0f_tx6g13kl1s2jzyqttkdm40000gn/T/4c2303174f4c417a87e26c76dbb2ca1b-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 225 COLUMNS
At line 2651 RHS
At line 2872 BOUNDS
At line 3358 ENDATA
Problem MODEL has 220 rows, 485 columns and 970 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 215 - 0.00 seconds
Cgl0004I processed model has 0 rows, 0 columns (0 integer (0 of which binary)) and 0 elements
Cbc3007W No integer variables - nothing to do
Cuts at root node changed objective from -215 to -1.79769e+308
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                215.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             0.00
Time (Wallclock seconds):       0.01

Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.02

1

In [244]:
status = plp.LpStatus[problem.status]
print(status)

Optimal

In [245]:
print("Optimal overall resouce cost: ",str(plp.value(problem.objective)))

Optimal overall resouce cost:  215.0

In [246]:
decision_vars = {}
for each in problem.variables():
    decision_vars.update({each:str(each.value())})
    #if each.value()==1:
    #    print('XX')
    #
    #    print("Optimal cost of ", each, ": "+str(each.value()))

In [247]:
result = pd.DataFrame(decision_vars.items())
result.columns=['decision_var','allocation']
result['deci_str'] = result['decision_var'].astype(str)
result

    decision_var allocation deci_str
0            x_0        1.0      x_0
1            x_1        1.0      x_1
2           x_10        0.0     x_10
3          x_100        0.0    x_100
4          x_101        0.0    x_101
..           ...        ...      ...
480         x_95        1.0     x_95
481         x_96        0.0     x_96
482         x_97        0.0     x_97
483         x_98        1.0     x_98
484         x_99        1.0     x_99

[485 rows x 3 columns]

In [248]:
result[result['deci_str']=='x_0']

  decision_var allocation deci_str
0          x_0        1.0      x_0

In [249]:
final = pd.merge(all_df,result,on='deci_str')

In [250]:
final = final[final['allocation']=='1.0']

In [251]:
final = final.drop_duplicates()
final

,employee,employee_type,task_type,task_id,decision_var_x,deci_str,decision_var_y,allocation
0,r1,normal,task1,1,x_0,x_0,x_0,1.0
1,r1,normal,task1,2,x_1,x_1,x_1,1.0
3,r1,normal,task1,4,x_3,x_3,x_3,1.0
4,r1,normal,task1,5,x_4,x_4,x_4,1.0
6,r1,normal,task1,7,x_6,x_6,x_6,1.0
...,...,...,...,...,...,...,...,...
476,r10,normal,task5,207,x_476,x_476,x_476,1.0
477,r10,normal,task5,208,x_477,x_477,x_477,1.0
482,r10,normal,task5,213,x_482,x_482,x_482,1.0
483,r10,normal,task5,214,x_483,x_483,x_483,1.0
484,r10,normal,task5,215,x_484,x_484,x_484,1.0

In [256]:
final_allocation = final[['task_id','employee','task_type','employee_type']]
final_allocation

     task_id employee task_type employee_type
0          1       r1     task1        normal
1          2       r1     task1        normal
3          4       r1     task1        normal
4          5       r1     task1        normal
6          7       r1     task1        normal
..       ...      ...       ...           ...
476      207      r10     task5        normal
477      208      r10     task5        normal
482      213      r10     task5        normal
483      214      r10     task5        normal
484      215      r10     task5        normal

[215 rows x 4 columns]

In [255]:
final[final['employee']=='r6']

,employee,employee_type,task_type,task_id,decision_var_x,deci_str,decision_var_y,allocation
102,r6,senior,task1,3,x_102,x_102,x_102,1.0
105,r6,senior,task1,6,x_105,x_105,x_105,1.0
109,r6,senior,task1,10,x_109,x_109,x_109,1.0
110,r6,senior,task1,11,x_110,x_110,x_110,1.0
113,r6,senior,task1,14,x_113,x_113,x_113,1.0
114,r6,senior,task1,15,x_114,x_114,x_114,1.0
117,r6,senior,task1,18,x_117,x_117,x_117,1.0
119,r6,senior,task1,20,x_119,x_119,x_119,1.0
123,r6,senior,task1,24,x_123,x_123,x_123,1.0
124,r6,senior,task1,25,x_124,x_124,x_124,1.0
126,r6,senior,task1,27,x_126,x_126,x_126,1.0
128,r6,senior,task1,29,x_128,x_128,x_128,1.0
130,r6,senior,task1,31,x_130,x_130,x_130,1.0
132,r6,senior,task1,33,x_132,x_132,x_132,1.0
134,r6,senior,task1,35,x_134,x_134,x_134,1.0
135,r6,senior,task1,36,x_135,x_135,x_135,1.0
136,r6,senior,task1,37,x_136,x_136,x_136,1.0
137,r6,senior,task1,38,x_137,x_137,x_137,1.0
139,r6,senior,task1,40,x_139,x_139,x_139,1.0
140,r6,senior,task1,41,x_140,x_140,x_140,1.0
141,r6,senior,task1,42,x_141,x_141,x_141,1.0
142,r6,senior,task1,43,x_142,x_142,x_142,1.0
145,r6,senior,task1,46,x_145,x_145,x_145,1.0
148,r6,senior,task1,49,x_148,x_148,x_148,1.0
149,r6,senior,task1,50,x_149,x_149,x_149,1.0
152,r6,senior,task1,53,x_152,x_152,x_152,1.0
153,r6,senior,task1,54,x_153,x_153,x_153,1.0
154,r6,senior,task1,55,x_154,x_154,x_154,1.0
156,r6,senior,task1,57,x_156,x_156,x_156,1.0
158,r6,senior,task1,59,x_158,x_158,x_158,1.0
160,r6,senior,task1,61,x_160,x_160,x_160,1.0
161,r6,senior,task1,62,x_161,x_161,x_161,1.0
162,r6,senior,task1,63,x_162,x_162,x_162,1.0
163,r6,senior,task1,64,x_163,x_163,x_163,1.0
165,r6,senior,task1,66,x_165,x_165,x_165,1.0
166,r6,senior,task1,67,x_166,x_166,x_166,1.0
168,r6,senior,task1,69,x_168,x_168,x_168,1.0
171,r6,senior,task1,72,x_171,x_171,x_171,1.0
175,r6,senior,task1,76,x_175,x_175,x_175,1.0
176,r6,senior,task1,77,x_176,x_176,x_176,1.0
184,r6,senior,task1,85,x_184,x_184,x_184,1.0
186,r6,senior,task1,87,x_186,x_186,x_186,1.0
194,r6,senior,task1,95,x_194,x_194,x_194,1.0
196,r6,senior,task1,97,x_196,x_196,x_196,1.0
197,r6,senior,task1,98,x_197,x_197,x_197,1.0

In [254]:
emp

   employee employee_type task_type
0        r1        normal     task1
1        r2        normal     task2
2        r3        senior     task3
3        r4        senior     task4
4        r5        senior     task5
5        r6        senior     task1
6        r7        normal     task2
7        r8        normal     task3
8        r9        normal     task4
9       r10        normal     task5
10      r11        normal     task3
11      r12        normal     task4